name: release-rpms-and-images
description: Workflow to build and release MicroShift RPMs and container images

on:
  workflow_dispatch:
    inputs:
      ushift-branch:
        default: "main"
        description: MicroShift branch from https://github.com/openshift/microshift/branches
        type: string
      okd-version-tag:
        default: "4.21.0-okd-scos.ec.5"
        description: OKD version tag from https://quay.io/repository/okd/scos-release?tab=tags
        type: string
      okd-target-registry:
        default: ghcr.io/microshift-io/okd
        description: Target registry for the OKD release images for ARM
        type: string
      build:
        type: choice
        description: Types of artifacts to build
        default: all
        options:
        - all
        - rpms
        - bootc-image
        - okd-release-arm

jobs:
  build-okd-release:
    name: Build OKD release images for ARM
    runs-on: ubuntu-24.04-arm
    if: contains(fromJSON('["all", "okd-release-arm"]'), inputs.build)
    steps:
      - name: Check out MicroShift upstream repository
        uses: actions/checkout@v4

      - name: Detect OKD version tag
        id: detect-okd-version
        uses: ./.github/actions/okd-version

      - name: Run the OKD release images build action
        uses: ./.github/actions/build-okd
        with:
          ushift-branch: ${{ inputs.ushift-branch }}
          okd-version-tag: ${{ steps.detect-okd-version.outputs.okd-version-tag }}
          target-arch: arm64
          target-registry: ${{ inputs.okd-target-registry }}
          token: ${{ secrets.GITHUB_TOKEN }}

  build-microshift:
    needs: build-okd-release
    strategy:
      matrix:
        # The ARM runner is disabled because OKD images for ARM are not available.
        # See USHIFT-5570
        runners: [ubuntu-24.04]
    name: Build MicroShift upstream
    if: contains(fromJSON('["all", "rpms", "bootc-image"]'), inputs.build)
    runs-on: ${{ matrix.runners }}
    steps:
      - name: Check out MicroShift upstream repository
        uses: actions/checkout@v4

      - name: Run the build action
        uses: ./.github/actions/build
        with:
          ushift-branch: ${{ inputs.ushift-branch }}
          okd-version-tag: ${{ inputs.okd-version-tag }}
          build: ${{ inputs.build }}

      # Test the local container image with the quick start and clean procedures
      # before releasing the artifacts.
      - name: Run the quick start script and clean scripts
        if: contains(fromJSON('["all", "bootc-image"]'), inputs.build)
        uses: ./.github/actions/quick-start-clean
        with:
          image-ref: localhost/microshift-okd:latest

        # The release process consumes the RPMs and the container image
        # prepared by the build action.
      - name: Prepare the RPM archives
        if: contains(fromJSON('["all", "rpms"]'), inputs.build)
        shell: bash
        run : |
          # Archive sources separately from the RPMs
          sudo mv /mnt/rpms/srpms /mnt/srpms
          cd /mnt/srpms
          sudo tar zcvf /mnt/release/microshift-src.tgz .

          cd /mnt/rpms
          sudo tar zcvf /mnt/release/microshift-rpms-$(uname -m).tgz .

      - name: Release RPMs
        if: contains(fromJSON('["all", "rpms"]'), inputs.build)
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.ushift-branch }}-${{ inputs.okd-version-tag }}
          files: |
            /mnt/release/microshift-rpms-*.tgz
            /mnt/release/microshift-src.tgz
          overwrite_files: true

      - name: Login to GitHub Container Registry
        if: contains(fromJSON('["all", "bootc-image"]'), inputs.build)
        uses: ./.github/actions/podman-login
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Bootc image
        if: contains(fromJSON('["all", "bootc-image"]'), inputs.build)
        shell: bash
        run: |
          sudo podman tag microshift-okd \
            ghcr.io/${{ github.repository }}:${{ inputs.ushift-branch }}-${{ inputs.okd-version-tag }} \
            ghcr.io/${{ github.repository }}:latest
          sudo podman push ghcr.io/${{ github.repository }}:${{ inputs.ushift-branch }}-${{ inputs.okd-version-tag }}
          sudo podman push ghcr.io/${{ github.repository }}:latest

          # Prepare the release note for the bootc image usage
          TAG=${{ inputs.ushift-branch }}-${{ inputs.okd-version-tag }} envsubst < .github/workflows/release.md > /tmp/release.md

      - name: Add release note for bootc image usage
        if: contains(fromJSON('["all", "bootc-image"]'), inputs.build)
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.ushift-branch }}-${{ inputs.okd-version-tag }}
          body_path: /tmp/release.md
