name: release-packages-and-images
# Workflow to build and release the following MicroShift artifacts:
# - RPM packages
# - DEB packages
# - Bootc container images

on:
  workflow_dispatch:
    inputs:
      ushift-gitref:
        default: "main"
        description: MicroShift git ref (branch, tag, commit) from https://github.com/openshift/microshift/branches
        type: string
      okd-version-tag:
        default: "latest"
        description: OKD version tag from https://quay.io/repository/okd/scos-release?tab=tags
        type: string
      copr-repo:
        default: "@microshift-io/microshift"
        description: COPR repository name
        type: string

jobs:
  build-rpms:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out MicroShift upstream repository
        uses: actions/checkout@v4

      - name: Prepare the build and run environment
        uses: ./.github/actions/prebuild

      - name: Detect OKD version tag
        id: detect-okd-version
        uses: ./.github/actions/okd-version

      - name: Build SRPM
        shell: bash
        run: |
          cd ${GITHUB_WORKSPACE}/
          make srpm \
            USHIFT_GITREF=${{ inputs.ushift-gitref }} \
            OKD_VERSION_TAG=${{ inputs.okd-version-tag != 'latest' && inputs.okd-version-tag || steps.detect-okd-version.outputs.okd-version-tag }} \
            SRPM_WORKDIR=/mnt/srpm

      - name: Create COPR build
        shell: bash
        env:
          COPR_CONFIG: |
            ${{ secrets.COPR_CONFIG }}
        run: |
          set -euo pipefail
          cd ${GITHUB_WORKSPACE}/
          echo "${COPR_CONFIG}" > /tmp/copr-config

          make copr-create-build \
            SRPM_WORKDIR=/mnt/srpm \
            COPR_REPO_NAME="${{ inputs.copr-repo }}" \
            COPR_CONFIG=/tmp/copr-config

          make copr-watch-build \
            SRPM_WORKDIR=/mnt/srpm \
            COPR_REPO_NAME="${{ inputs.copr-repo }}"

      - name: Persist version and build ID
        uses: actions/upload-artifact@v4
        with:
          name: srpm-artifacts
          path: |
            /mnt/srpm/version.txt
            /mnt/srpm/build.txt
          overwrite: true


  build-and-test-microshift:
    needs: build-rpms
    strategy:
      matrix:
        runners: [ubuntu-24.04, ubuntu-24.04-arm]
    name: Build RPM images based on COPR build
    runs-on: ${{ matrix.runners }}
    steps:
      - name: Check out MicroShift upstream repository
        uses: actions/checkout@v4

      - name: Prepare the build and run environment
        uses: ./.github/actions/prebuild

      - uses: actions/download-artifact@v5
        with:
          name: srpm-artifacts
          path: /tmp/srpm

      - name: Store version
        shell: bash
        id: version
        run: |
          set -euo pipefail
          test -f /tmp/srpm/version.txt
          echo "version=$(cat /tmp/srpm/version.txt)" >> "${GITHUB_OUTPUT}"

      - name: Detect the CPU architecture
        id: detect-cpu-arch
        uses: ./.github/actions/arch

      - name: Create RPMs image with RPMs from COPR
        shell: bash
        run: |
          set -euo pipefail
          cd ${GITHUB_WORKSPACE}/

          make rpm-copr \
            SRPM_WORKDIR=/tmp/srpm \
            RPM_OUTDIR=/mnt/rpms

      - name: Run the build action
        uses: ./.github/actions/build
        with:
          rpm-builder: rpm-copr-builder
          build: bootc-image

      # Test the local container image with the quick start and clean procedures
      # before releasing the artifacts. Make sure not to run the clean scripts
      # because the images are needed for the release process.
      - name: Run the quick start script and clean scripts
        uses: ./.github/actions/quick-start-clean
        with:
          image-ref: localhost/microshift-okd:latest
          run-clean: false

      # Prepare the RPM archives to be released before converting to DEB packages.
      - name: Prepare the RPM archives
        shell: bash
        run : |
          cd /mnt/rpms
          sudo tar zcvf /mnt/release/microshift-rpms-$(uname -m).tgz .

        # This step is run after the RPM archives are prepared to avoid
        # including DEB packages in the RPM archive.
      - name: Convert the RPMs to DEB packages
        uses: ./.github/actions/build-deb
        with:
          ushift-gitref: ${{ inputs.ushift-gitref }}
          okd-version-tag: ${{ inputs.okd-version-tag != 'latest' && inputs.okd-version-tag || steps.detect-okd-version.outputs.okd-version-tag }}
          build-rpms: false

      - name: Prepare the DEB archives
        shell: bash
        run: |
          cd /mnt/rpms/deb
          sudo tar zcvf /mnt/release/microshift-debs-$(uname -m).tgz .

      - name: Release RPM and DEB packages
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.version.outputs.version }}
          files: |
            /mnt/release/microshift-debs-*.tgz
          overwrite_files: true

      - name: Login to GitHub Container Registry
        uses: ./.github/actions/podman-login
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Bootc container image for the target architecture
        shell: bash
        run: |
          set -euo pipefail
          set -x

          TARGET_IMAGE="ghcr.io/${{ github.repository_owner }}/microshift"
          TARGET_TAG="${{ steps.version.outputs.version }}-${{ steps.detect-cpu-arch.outputs.go_arch }}"

          sudo podman tag microshift-okd "${TARGET_IMAGE}:${TARGET_TAG}"
          sudo podman push "${TARGET_IMAGE}:${TARGET_TAG}"


  release-microshift:
    needs: build-and-test-microshift
    runs-on: ubuntu-24.04
    steps:
      - name: Check out MicroShift upstream repository
        uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: srpm-artifacts
          path: /tmp/srpm

      - name: Store version in a variable
        id: version
        run: |
          set -euo pipefail
          test -f /tmp/srpm/version.txt
          echo "version=$(cat /tmp/srpm/version.txt)" >> "${GITHUB_OUTPUT}"

      - name: Login to GitHub Container Registry
        uses: ./.github/actions/podman-login
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Bootc container image manifest
        shell: bash
        run: |
          set -euo pipefail
          set -x

          TARGET_IMAGE="ghcr.io/${{ github.repository_owner }}/microshift"
          TARGET_TAG="${{ steps.version.outputs.version }}"

          sudo podman manifest create "${TARGET_IMAGE}:${TARGET_TAG}"
          sudo podman manifest add "${TARGET_IMAGE}:${TARGET_TAG}" "${TARGET_IMAGE}:${TARGET_TAG}-amd64"
          sudo podman manifest add "${TARGET_IMAGE}:${TARGET_TAG}" "${TARGET_IMAGE}:${TARGET_TAG}-arm64"

          sudo podman manifest push "${TARGET_IMAGE}:${TARGET_TAG}"

          # Prepare the release note for the bootc image usage
          OWNER="${{ github.repository_owner }}" IMAGE="${TARGET_IMAGE}" TAG="${TARGET_TAG}" \
            envsubst < .github/workflows/release.md > /tmp/release.md

      - name: COPR - Regenerate RPM repo
        shell: bash
        env:
          COPR_CONFIG: |
            ${{ secrets.COPR_CONFIG }}
        run : |
          echo "${COPR_CONFIG}" > /tmp/copr-config
          make copr-regenerate-repos \
            COPR_CONFIG=/tmp/copr-config \
            COPR_REPO_NAME="${{ inputs.copr-repo }}"

      - name: Add release note for bootc image usage
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.version.outputs.version }}
          body_path: /tmp/release.md
